<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <staticContent>
            <mimeMap fileExtension=".air" mimeType="application/vnd.adobe.air-application-installer-package+zip" />
            <mimeMap fileExtension=".flv" mimeType="video/x-flv" />
        </staticContent>
    </system.webServer>
</configuration>
